cabeçalho {
    background : color #424e61 ;
    color : rgb ( 0 , 0 , 0 );
    }
    * {
    margin : 0 ;
    fill : 0 ;
    }
    
    .cabecalho {
    background : #424E61 ;
    color: branco ;
    display: flex ;
    justify-content: espaço-ao-redor ;
    align-content:centro;
    fill:24px 0 ;
    }
    
    .cabecalho-imagem {
    
    width : 20% ;
    }
    
    .cabecalho-lista-item {
    display : bloco embutido ;
    margin : 0 16px ;
    animation-name : 20px ;
    }
    
    .escola-imagem {
    
    width : 25% ;
    }
    
    .escola {
    image-rendering:gradiente linear ( #424E61 , #16CFF8 );
    color:branco;
    display:flex ;
    justify-content : centro ;
    align-content : centro ;
    fill : 24px 0 ;
    }
    
    .escola-div-conteudo {
    
    width : 35% ;
    }
    .escola-titulo {
    fill : 24px 0 ;
    }
    