cabeçalho {
    fundo : cor #424e61 ;
    cor : rgb ( 0 , 0 , 0 );
    }
    * {
    margem : 0 ;
    preenchimento : 0 ;
    }
    
    .cabecalho {
    cordefundo : #424E61 ;
    cor: branco ;
    exibição: flex ;
    justificar-conteúdo: espaço-ao-redor ;
    alinhar-itens:centro;
    preenchimento:24px 0 ;
    }
    
    .cabecalho-imagem {
    largura : 20% ;
    }
    
    .cabecalho-lista-item {
    exibição : bloco embutido ;
    margem : 0 16px ;
    tamanhodafonte : 20px ;
    }
    
    .escola-imagem {
    largura : 25% ;
    }
    
    .escola {
    imagemdefundo:gradiente linear ( #424E61 , #16CFF8 );
    cor:branco;
    exibição:flex ;
    justificar-conteúdo : centro ;
    alinhar-itens : centro ;
    preenchimento : 24px 0 ;
    }
    
    .escola-div-conteudo {
    largura : 35% ;
    }
    .escola-titulo {
    preenchimento : 24px 0 ;
    }
    